<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forum system</title>

  <link rel="icon" href="/static/images/favicon.ico">
  <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/theme.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Forum</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/posts"><span class="glyphicon glyphicon-envelope"></span> Posts</a></li>
            {{#if currentUser}}
              <li><a href="/posts/add"><span class="glyphicon glyphicon-pencil"></span> Add post</a></li>
              {{#if currentUser.isAdmin}}
                <li><a href="/categories"><span class="glyphicon glyphicon-th-list"></span> Categories</a></li>
                <li><a href="/categories/add"><span class="glyphicon glyphicon-plus"></span> Add category</a></li>
              {{/if}}
            {{/if}}
          </ul>
        {{#if currentUser}}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile/{{currentUser.username}}"><span class="glyphicon glyphicon-user"></span>{{currentUser.username}}</a></li>
            <form action="/logout" method="post" id="logout-form"></form>
            <li><a href="javascript:document.getElementById('logout-form').submit()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        {{else}}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        {{/if}}
      </div>
    </div>
  </nav>
  {{{body}}}

  <h3 id="globalError">{{globalError}}</h3>
</body>
</html>