{{#if result}}
  <h1>Latest posts: </h1>
  <ul class="list-group">
    {{#each result}}
      <li class="list-group-item">
        <a href="/posts/{{id}}">{{title}}</a>
          ({{views}} <span class="glyphicon glyphicon-eye-open"></span>, {{likes}} <span class="glyphicon glyphicon-thumbs-up"></span>)
      </li>
    {{/each}}
  </ul>
{{else}}
  <h1>No posts available.</h1>
{{/if}}